{% extends "base.html" %}

{% block title %}
    Operations | Create Patients
{% endblock title %}

{% load static %}

{% block body %}
    <div class="grid grid grid-cols-1 gap-1 md:grid-cols-2 md:gap-2">
    	<div class="py-4">
	    	<div class="card">
	    		<div class="card-header bg-gray-200">
	    			<p class="font-bold">Create patient</p>
	    		</div>

	    		<div class="card-content">
			    	<form class="grid grid-rows-1 gap-2" method="POST">
			    		{% csrf_token %}

			    		{% for field in patient_form %}
			    			<label>
			    				{{ field.label }}
			    			</label>
			    			{% if field.help_text %}
			    				<small><i>{{ field.help_text }}</i></small>
		    				{% endif %}
			    			{{ field }}
			    		{% endfor %}

			    		<div class="grid grid-cols-1 gap-2 py-2">
			    			<button class="bg-blue-700 text-white py-2" type="submit">Submit</button>
			    		</div>
			    	</form>
	    		</div>
		    </div>
		</div>

    	<div class="py-4">
    		<div class="card">
    			<div class="card-content">
    				{% if patients %}
	    				{% for patient in patients %}					
				    		{% include 'patients/components/patients.html' %}
	    				{% endfor %}
			    	{% else %}
			    	    <label class="text-gray-400">
			    	    	No Patients yet
			    	    </label>
    				{% endif %}
    			</div>
    		</div>
    	</div>
    </div>
{% endblock body %}
